---
import { Image } from 'astro:assets'
import terracan from '../../../assets/images/home/experimented_terracan.webp'
import reservationIcon from '../../../assets/icons/reservation.svg'
import BookingButton from '../../common/BookingButton.astro'

interface Props {
    lang: string
    t: (key: string) => string
}

const { t, lang } = Astro.props as Props
---

<section
    id=""
    class="bg-white lg:px-24 px-6 lg:py-16 py-12 flex lg:flex-row flex-col items-center gap-16"
>
    <div class="lg:w-1/2 w-full relative">
        <Image
            src={terracan}
            alt="Nature & Wildlife Tours"
            fetchpriority="high"
        />
        <div
            class="bg-pink-secondary text-black font-poppins font-bold flex items-center justify-center py-3 px-6 border-2 border-white absolute -bottom-3 left-0"
        >
            {t('homePage.carRentalSection.experimented')}
        </div>
    </div>
    <div class="lg:w-1/2 w-full space-y-6">
        <p class="text-black font-bold lg:text-start text-center">
            {t('homePage.carRentalSection.subtitle')}
        </p>
        <h1 class="text-primary text-5xl font-bold lg:text-start text-center">
            {t('homePage.carRentalSection.title')}
        </h1>
        <p class="text-black/70 lg:text-start text-center">
            {t('homePage.carRentalSection.description')}
        </p>
        <p>
            <ul class="list-none text-black/70 space-y-2">
                <li>🔸 {t('homePage.carRentalSection.list1')}</li>
                <li>🔸 {t('homePage.carRentalSection.list2')}</li>
                <li>🔸 {t('homePage.carRentalSection.list3')}</li>
                <li>🔸 {t('homePage.carRentalSection.list4')}</li>
            </ul>
        </p>
        <p class="text-black/70 lg:text-start text-center">
            {t('homePage.carRentalSection.description2')}
        </p>

        <!-- Booking button -->

        <div class="flex lg:justify-start justify-center">
            <BookingButton
                label={t('homePage.carRentalSection.bookingButton')}
                icon={reservationIcon.src}
                iconAlt="Reservation icon"
                className="mt-8"
                href={`/${lang}/car-rental#booknow`}
            />
        </div>
    </div>
</section>
