---
import GalleryBlock from './GalleryBlock'
---

<section id="" class="bg-white lg:px-24 px-6 py-16 space-y-6">
    <div class="lg:w-[60%] w-full space-y-4">
        <p class="text-black font-bold lg:text-start text-center">
            Discover Madagascar Through Our Lens
        </p>
        <h1 class="text-primary text-5xl font-bold lg:text-start text-center">
            Gallery
        </h1>
        <p class="text-black/70 lg:text-start text-center">
            A journey begins with a single image. Explore the stunning
            landscapes, unique wildlife, vibrant culture, and memorable moments
            captured during our real tours across southern Madagascar.
        </p>
    </div>
    <div class="flex lg:flex-row flex-col items-center gap-4">
        <!-- First col in left side -->
        <div class="space-y-4">
            <div class="w-sm h-auto ">
                <GalleryBlock
                    client:load
                    images={['a11.webp', 'b11.webp', 'c11.webp']}
                    alt="prestige travel"
                />
            </div>
            <div class="w-sm h-auto">
                <GalleryBlock
                    client:load
                    images={['a12.webp', 'b12.webp']}
                    alt="prestige travel"
                />
            </div>
        </div>
        <!-- Second col in centered side -->
        <div class="space-y-4">
            <div class="w-sm h-auto">
                <GalleryBlock
                    client:load
                    images={[
                        'a21.webp',
                        'b21.webp',
                        'c21.webp',
                        'd21.webp',
                        'e21.webp',
                        'f21.webp',
                        'g21.webp',
                    ]}
                    alt="prestige travel"
                />
            </div>
            <div class="w-sm h-auto">
                <GalleryBlock
                    client:load
                    images={['a22.webp', 'b22.webp', 'c22.webp', 'd22.webp']}
                    alt="prestige travel"
                />
            </div>
            <div class="w-sm h-auto">
                <GalleryBlock
                    client:load
                    images={['a23.webp', 'b23.webp', 'c23.webp', 'd23.webp', 'e23.webp', 'f23.webp', 'g23.webp']}
                    alt="prestige travel"
                />
            </div>
        </div>
        <!-- Third col in right side -->
        <div class="space-y-4">
            <div class="w-sm h-aut">
                <GalleryBlock
                    client:load
                    images={['a31.webp', 'b31.webp']}
                    alt="prestige travel"
                />
            </div>

            <div class="w-sm h-auto">
                <GalleryBlock
                    client:load
                    images={['a32.webp', 'c32.webp', 'b32.webp',]}
                    alt="prestige travel"
                />
            </div>
        </div>
    </div>
</section>
