---
import Web2 from '../../../assets/icons/web2.svg'
import Phone from '../../../assets/icons/telephone.svg'
import Epingle from '../../../assets/icons/epingle.svg'
---

<div class="bg-pink-secondary px-16 py-6 flex items-center justify-between rounded-3xl max-w-3xl mx-auto">
    <div class="flex flex-col items-center gap-4">
        <Web2 width={32} height={32} />
        <p class="text-white">www.prestige-travel.mg</p>
    </div>
    <div class="flex flex-col items-center gap-4">
        <Phone width={32} height={32} />
        <p class="text-white">+261 34 55 727 16 <br>+261 38 24 977 04</p>
    </div>
    <div class="flex flex-col items-center gap-4">
        <Epingle width={32} height={32} />
        <p class="text-white text-center">IIE 69 VH Bis <br>Tsarahonenana</p>
    </div>
</div>
