---
import VehicleGallerySlider from './VehicleGallerySlider'
---

<section
    class="bg-pink-primary lg:px-24 px-6 lg:py-16 py-12 space-y-4"
>
    <div class="space-y-4 pb-8 max-w-2xl mx-auto">
        <p class="text-black font-bold text-center">
            Learn more about our agency
        </p>
        <h1
            class="text-primary text-5xl font-bold leading-tight text-center drop-shadow-2xl"
        >
            Available Vehicles
        </h1>
        <p class="text-gray-600 text-center">
            From €60/day – including vehicle, professional driver-guide, and
            fuel. Ideal for tours, long-distance transfers, or business trips.
        </p>
    </div>

    <!-- ✅ Mettre la directive client:load directement sur le composant -->
    <VehicleGallerySlider client:load />
</section>
