---
import { Image } from 'astro:assets'
import starex from '../../../assets/images/car_rental/starex_white.webp'

interface Props {
    t: (key: string) => string
}

const { t } = Astro.props as Props
---

<section class="bg-primary lg:pl-24 lg:pr-0 px-6 lg:py-16 py-12">
    <div class="space-y-4 pb-8 max-w-2xl mx-auto">
        <p class="text-white font-bold text-center opacity-90">
            Easy pay
        </p>
        <h1
            class="text-pink-secondary text-5xl font-bold leading-tight text-center drop-shadow-2xl"
        >
            Setup or Empty <br /> Return Days
        </h1>
        <p class="text-white text-center">
            Some routes may require extra days for vehicle positioning or
            return. These are added to the quote:
        </p>
    </div>

    <div class="flex lg:flex-row flex-col items-center justify-between">
        <div class="w-full lg:w-1/2">
            <!-- Header -->
            <div
                class="flex justify-between text-white font-semibold pb-4 border-b border-white/50 text-xl"
            >
                <span>Route</span>
                <span>Additional Days</span>
            </div>

            <!-- Rows -->
            <div class="space-y-4 mt-4 text-white/80">
                <div
                    class="flex justify-between items-center border-b border-white/30 pb-2"
                >
                    <span>Antananarivo - Tamatave</span>
                    <span>1 Day</span>
                </div>

                <div
                    class="flex justify-between items-center border-b border-white/30 pb-2"
                >
                    <span>Antananarivo - Morondava</span>
                    <span>2 Day</span>
                </div>

                <div
                    class="flex justify-between items-center border-b border-white/30 pb-2"
                >
                    <span>Antananarivo - Tulear</span>
                    <span>2 Day</span>
                </div>

                <div
                    class="flex justify-between items-center border-b border-white/30 pb-2"
                >
                    <span>Antananarivo - Diego</span>
                    <span>3 Day</span>
                </div>

                <div
                    class="flex justify-between items-center border-b border-white/30 pb-2"
                >
                    <span>Antananarivo - Fort-Dauphin</span>
                    <span>3 Day</span>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/2 flex items-center justify-end">
            <Image
                src={starex}
                alt="Nature & Wildlife Tours"
                fetchpriority="high"
                class="w-md h-auto"
            />
        </div>
    </div>
</section>
