---
import { Image } from 'astro:assets'
import background from '../../../assets/images/car_rental/hero_illustration.webp'
import BookingButton from '../../common/BookingButton.astro'
import searchIcon from '../../../assets/icons/recherche.svg'
import reservationIcon from '../../../assets/icons/reservation.svg'
import logo from '../../../assets/logo.webp'
import Header from '../../layout/Header.astro'
---

<div class="relative w-full h-screen overflow-hidden bg-white">
    <!-- Image de fond en couleur originale, sans effet -->
    <Image
        src={background}
        alt="Terracan prestige"
        fetchpriority="high"
        class="absolute inset-0 w-full h-full lg:object-fill object-contain"
    />

    <!-- Contenu principal au-dessus de l’image -->
    <main
        class="relative z-10 flex items-center justify-center h-full text-white"
    >
        <!-- Logo prestige -->
        <Image
            src={logo}
            alt="Terracan prestige"
            fetchpriority="high"
            class="absolute top-8 left-24 w-32 h-32 object-contain"
        />

        <!-- Navbar -->
        <div
            class="absolute top-8 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
            <Header />
        </div>

        <!-- Contenu principal -->
        <div class="space-y-8">
            <h1 class="text-5xl font-bold text-center">Car Rental</h1>
            <p class="mt-4 max-w-xl mx-auto text-lg">
                Discover Madagascar at your own pace with our reliable car
                rental service. Whether you’re heading deep into national parks
                or exploring coastal towns, we offer comfortable,
                air-conditioned vehicles with experienced local driver-guides.
            </p>
            <!-- Explore button -->
            <div class="flex lg:justify-start justify-center">
                <BookingButton
                    label="Explore"
                    icon={searchIcon.src}
                    iconAlt="Reservation icon"
                    className="mt-0"
                />
            </div>
        </div>

        <!-- Booking button -->
        <div class="absolute top-8 right-24">
            <BookingButton
                label="Booking"
                icon={reservationIcon.src}
                iconAlt="Reservation icon"
            />
        </div>
    </main>
</div>
