---
import { Image } from 'astro:assets'
import background from '../../../assets/images/car_rental/hero_illustration.webp'
import BookingButton from '../../common/BookingButton.astro'
import searchIcon from '../../../assets/icons/recherche.svg'
import reservationIcon from '../../../assets/icons/reservation.svg'
import logo from '../../../assets/logo.webp'
import Header from '../../layout/Header.astro'
import MobileMenuPanel from '../../layout/MobileMenuPanel.astro'
import BurgerMenuButton from '../../common/BurgerMenuButton.astro'
---

<div class="relative w-full h-screen overflow-hidden bg-white">
    <!-- Image de fond en couleur originale, sans effet -->
    <Image
        src={background}
        alt="Terracan prestige"
        fetchpriority="high"
        class="absolute inset-0 w-full h-full object-cover"
    />

    <!-- Contenu principal au-dessus de l’image -->
    <main
        class="relative z-10 flex items-center justify-center h-full text-white"
    >
        <!-- Logo prestige -->
        <Image
            src={logo}
            alt="Terracan prestige"
            fetchpriority="high"
            class="absolute lg:top-10 top-5 lg:left-24 left-5 w-24 h-24 object-contain"
        />

        <!-- Desktop Navbar -->
        <div
            class="hidden lg:block absolute top-12 left-[53%] transform -translate-x-1/2 -translate-y-1/2"
        >
            <Header />
        </div>

        <!-- Toggle button for mobile menu  -->
        <div
            id="menu-toggle"
            class="flex flex-col cursor-pointer absolute top-14 right-10 gap-1 w-10 h-10 lg:hidden z-50"
        >
            <BurgerMenuButton />
        </div>

        <!-- Mobile menu panel -->
        <MobileMenuPanel />

        <!-- Contenu principal -->
        <div class="max-w-2xl mx-auto space-y-8 lg:-mt-40 -mt-72">
            <h1 class="text-5xl font-bold text-center">Car Rental</h1>
            <p class="text-center">
                Discover Madagascar at your own pace with our reliable car
                rental service. Whether you’re heading deep into national parks
                or exploring coastal towns, we offer comfortable,
                air-conditioned vehicles with experienced local driver-guides.
            </p>
            <!-- Explore button -->
            <div class="flex lg:justify-end justify-center">
                <BookingButton
                    label="Explore"
                    icon={searchIcon.src}
                    iconAlt="Reservation icon"
                    href="/#tours"
                />
            </div>
        </div>

        <!-- Booking button -->
        <div class="absolute top-10 right-24 hidden lg:block">
            <BookingButton
                label="Booking"
                icon={reservationIcon.src}
                iconAlt="Reservation icon"
                href="#booknow"
            />
        </div>
    </main>
</div>

<!-- JS script for menu toggle -->
<script>
    import '../../../scripts/menu.ts'
</script>
