---
import { Image } from 'astro:assets'

import logo from '../../assets/logo.webp'
import Instagram from '../../assets/icons/instagram.svg'
import Web from '../../assets/icons/web.svg'
import Facebook from '../../assets/icons/facebook.svg'
import Mail from '../../assets/icons/mail.svg'
import PrestigeInfo from '../sections/homepage/PrestigeInfo.astro'
---

<footer class="relative bg-primary lg:px-24 px-6 lg:pt-28 pb-4">
    <!-- Prestige box info -->
    <div class="lg:block hidden -mt-44 mb-8">
        <PrestigeInfo />
    </div>

    <!-- Footer content -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 py-6">
        <div class="flex flex-col lg:items-start items-center gap-8">
            <Image
                src={logo}
                alt="prestige logo"
                class="h-auto w-24 rounded-lg shadow-2xl relative z-10"
                fetchpriority="high"
            />
            <p class="text-white lg:text-start text-center">
                We specialize in authentic and naturalist tours in Madagascar.
            </p>
            <div class="flex items-center gap-4">
                <a href="/" target="_blank" rel="noreferrer noopener">
                    <Instagram width={32} height={32} />
                </a>
                <a href="/" target="_blank" rel="noreferrer noopener">
                    <Web width={32} height={32} />
                </a>
                <a href="/" target="_blank" rel="noreferrer noopener">
                    <Facebook width={32} height={32} />
                </a>
                <a href="/" target="_blank" rel="noreferrer noopener">
                    <Mail width={32} height={32} />
                </a>
            </div>
        </div>
        <div class="flex flex-col lg:items-start items-center gap-6 lg:pl-28">
            <h3 class="text-white font-bold text-2xl">Links</h3>
            <ul class="text-white lg:text-start text-center space-y-3">
                <li>
                    <a href="/"> Home </a>
                </li>
                <li>
                    <a href="/#about-us"> About Us </a>
                </li>
                <li>
                    <a href="/#tours"> Tours & Stays </a>
                </li>
                <li>
                    <a href="/car-rental"> Car Rental </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col lg:items-start items-center gap-6">
            <h3 class="text-white font-bold text-2xl">Contact Us</h3>
            <ul class="text-white lg:text-start text-center space-y-3">
                <li>contact@prestige-travel.mg</li>
                <li>+261 34 55 727 16 / +261 38 24 977 04</li>
                <li>IIE 69 VH Bis Tsarahonenana</li>
            </ul>
        </div>
    </div>
    <div class="border-t-2 border-white pt-4">
        <p class="text-white text-center">
            © {new Date().getFullYear()} Prestige Travel Madagascar. All rights
            reserved.
        </p>
    </div>
</footer>
