---

---

<header>
    <nav>
        <ul class="flex items-center space-x-10 text-black font-semibold">
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <a href="/#about-us"> About Us </a>
            </li>
            <li>
                <a href="/#tours"> Tours & Stays </a>
            </li>
            <li>
                <a href="/car-rental"> Car Rental </a>
            </li>
        </ul>
    </nav>
</header>
