---
import { getLangFromUrl, useTranslations } from "../../i18n"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header>
    <nav>
        <ul class="flex items-center space-x-10 text-black font-semibold">
            <li>
                <a href="/"> {t('global.home')} </a>
            </li>
            <li>
                <a href="/#about-us"> {t('global.aboutUs')} </a>
            </li>
            <li>
                <a href="/#tours"> {t('global.ToursAndStays')} </a>
            </li>
            <li>
                <a href={`/${lang}/car-rental/`}> {t('global.carRental')} </a>
            </li>
        </ul>
    </nav>
</header>
