---

---

<header>
    <nav>
        <ul class="flex items-center space-x-6 text-black font-semibold">
            <li>Home</li>
            <li>About Us</li>
            <li>Tours & Stays</li>
            <li>Car Rental</li>
        </ul>
    </nav>
</header>
