---
import { getLangFromUrl, useTranslations } from '../../i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<ul
    id="mobile-menu"
    class="fixed top-0 right-[-100%] w-full h-screen bg-primary text-white flex flex-col items-center justify-center gap-5 text-2xl transition-all duration-300 lg:hidden z-40"
>
    <li><a href="/"> {t('global.home')} </a></li>
    <li><a href="/#about-us">{t('global.aboutUs')}</a></li>
    <li><a href="/#tours"> {t('global.ToursAndStays')} </a></li>
    <li><a href={`/${lang}/car-rental/`}> {t('global.carRental')} </a></li>
</ul>
