---

---

<ul
    id="mobile-menu"
    class="fixed top-0 right-[-100%] w-full h-screen bg-primary text-white flex flex-col items-center justify-center gap-5 text-2xl transition-all duration-300 lg:hidden z-40"
>
    <li><a href="/"> Home </a></li>
    <li><a href="/#about-us"> About Us </a></li>
    <li><a href="/#tours"> Tours & Stays </a></li>
    <li><a href="/car-rental"> Car Rental </a></li>
</ul>
