---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Welcome from '../components/sections/carrentalpage/Welcome.astro'
import WhatsIncludedSection from '../components/sections/carrentalpage/WhatsIncludedSection.astro'
import AvailableVehicles from '../components/sections/carrentalpage/AvailableVehicles.astro'
import PaymentTerms from '../components/sections/carrentalpage/PaymentTerms.astro'
import SetupOrEmptySection from '../components/sections/carrentalpage/SetupOrEmptySection.astro'
import BookNowSection from '../components/sections/carrentalpage/BookNowSection.astro'
import Footer from '../components/layout/Footer.astro'
---

<Layout>
    <main>
        <Welcome />
        <WhatsIncludedSection />
        <AvailableVehicles />
        <PaymentTerms />
        <SetupOrEmptySection />
        <BookNowSection />
    </main>
    <Footer />
</Layout>
