---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Welcome from '../components/sections/carrentalpage/Welcome.astro'
import BookNowSection from '../components/sections/carrentalpage/BookNowSection.astro'
import Footer from '../components/layout/Footer.astro'

---

<Layout>
    <main>
        <Welcome />
        
        <BookNowSection />
    </main>
    <Footer />
</Layout>
