---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Welcome from '../components/sections/homepage/Welcome.astro'
import SectionOne from '../components/sections/homepage/SectionOne.astro'
import SectionTwo from '../components/sections/homepage/SectionTwo.astro'
import CarRentalSection from '../components/sections/homepage/CarRentalSection.astro'
import TypesOfTravelSection from '../components/sections/homepage/TypesOfTravelSection.astro'
import GallerySection from '../components/sections/homepage/GallerySection.astro'
import ContactUsSection from '../components/sections/homepage/ContactUsSection.astro'
import Footer from '../components/layout/Footer.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <main>
        <Welcome />
        <SectionOne />
        <SectionTwo />
        <CarRentalSection />
        <TypesOfTravelSection />
        <GallerySection />
        <ContactUsSection />
    </main>
    <Footer />
</Layout>
