---
import LanguageSwitcher from "../../components/common/LanguageSwitcher.astro";
import Simple from "../../components/Simple.astro";


---

<html lang={Astro.i18n.locale}>
  <head>
    <title>Vehicle Gallery</title>
  </head>
  <body>
    <LanguageSwitcher />
    <Simple />
  </body>
</html>

