---
// Props reçues
const { label = 'Button', icon, iconAlt = 'icon', className = '' } = Astro.props
---

<button class={`flex items-center justify-start relative ${className}`}>
    <div
        class="bg-pink-secondary text-white font-poppins font-bold flex items-center justify-center rounded-xl pl-12 px-6 py-3"
    >
        {label}
    </div>

    <div
        class="bg-grey-primary flex items-center justify-center rounded-full w-14 h-14 absolute -left-5"
    >
        <img src={icon} alt={iconAlt} width="32" height="32" />
    </div>
</button>
