---

---

<>
    <span class="line w-full bg-black h-1 transition duration-300"></span>
    <span class="line w-full bg-black h-1 transition duration-300"></span>
    <span class="line w-full bg-black h-1 transition duration-300"></span>
</>
