---

---

<div
    id="menu-toggle"
    class="flex flex-col cursor-pointer absolute top-12 right-10 gap-1 w-10 h-10 lg:hidden z-50"
>
    <span class="line w-full bg-black h-1 transition duration-300"></span>
    <span class="line w-full bg-black h-1 transition duration-300"></span>
    <span class="line w-full bg-black h-1 transition duration-300"></span>
</div>
