---
import Icon1 from '../../../assets/icons/cibler.svg'
import Icon2 from '../../../assets/icons/team-building.svg'
import Icon3 from '../../../assets/icons/proposition.svg'
---

<section id="about-us" class="bg-white lg:px-24 px-6 lg:py-16 py-12 space-y-8">
    <div class="max-w-2xl mx-auto space-y-6">
        <p class="text-black font-bold text-center">
            Learn more about our agency
        </p>
        <h1 class="text-primary text-5xl font-bold text-center">About Us</h1>
        <p class="text-black/70 text-center">
            Learn more about who we are and what drives us. We are a passionate
            team based in Madagascar, committed to offering meaningful travel
            experiences rooted in nature, culture, and respect.
        </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-12 gap-0">
        <div class="flex flex-col items-center justify-center gap-4 p-6">
            <Icon1 width={64} />
            <h4 class="font-semibold text-lg text-black">Our missions</h4>
            <p class="text-center text-black/70">
                We aim to promote responsible tourism that respects
                biodiversity, local communities, and cultural heritage. We
                create immersive travel experiences that benefit both visitors
                and the environment.
            </p>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 p-6">
            <Icon2 width={64} />
            <h4 class="font-semibold text-lg text-black">Meet our team</h4>
            <p class="text-center text-black/70">
                We are a 100% local team of guides, drivers, and travel
                coordinators who know southern Madagascar inside out. Our staff
                speaks Malagasy, French, English, German and Italian, and is
                dedicated to making your journey unforgettable.
            </p>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 p-6">
            <Icon3 width={64} />
            <h4 class="font-semibold text-lg text-black">
                Our Values & Commitments
            </h4>
            <p>
                <ul class="list-disc text-black/70">
                    <li>Fair pay and treatment for all local collaborators</li>
                    <li>
                        Prioritizing eco-friendly and locally-owned
                        accommodations
                    </li>
                    <li>Supporting conservation and reforestation projects</li>
                </ul>
            </p>
        </div>
    </div>
</section>
