---
import envoyerIcon from '../../assets/icons/envoyer.svg'
import BookingButton from '../common/BookingButton.astro'
import InputField from '../common/InputField.astro'
import TextareaField from '../common/TextareaField.astro'
---

<form class="space-y-4" aria-label="Contact form">
    <InputField
        id="email"
        label="Email"
        placeholder="rova@prestige-travel.mg"
        required
    />

    <InputField id="name" label="Full name" placeholder="Rova" required />

    <TextareaField />

    <div class="pt-4">
        <BookingButton
            label="Send"
            icon={envoyerIcon.src}
            iconAlt="Send icon"
        />
    </div>
</form>
